body {
    font-family: Arial, sans-serif;
    background-color: #54fb00;
    background-image: url("imagens/https://cdn-icons-png.flaticon.com/512/2909/2909922.png");
    background-size: cover;
    backgorund-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 50px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ff0000;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  